.LogoHeader {
  $s: &;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;

  &__hide {
    opacity: 0;
    transition: 0.8s;
  }
}
