.Information {
  $s: &;
  font-weight: var(--fw-light);
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include containerMob;
  @include headerPadding;

  h1 {
    font-size: clamp(rem(20), 3vw, rem(84));
    line-height: 1;
    font-family: var(--font-prime);
    text-transform: uppercase;
    font-weight: var(--fw-medium);
    margin-bottom: rem(40);
  }

  p {
    font-family: var(--font-sec);
    font-size: clamp(rem(16), 1vw, rem(32));
    margin-bottom: rem(16);
  }

  /* Стили для планшетной версии сайта блока Information начинаются тут */
  @media all and (min-width: $bp3) {
    @include containerDesk;

    p {
      margin-bottom: rem(40);
    }
  }
}
