.ErrorLayout {
  $s: &;
  position: relative;
  height: 100vh;
  max-height: rem(726);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: rem(60) rem(16) 0 rem(16);
  background-color: var(--13);

  &__text {
    padding-top: 16vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__num {
    width: 80%;
    margin-bottom: rem(32);
    color: white;

    h1 {
      visibility: hidden;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__explain {
    font-size: rem(32);
    line-height: rem(40);
    margin-bottom: rem(16);
  }

  &__desc {
    font-size: rem(16);
    line-height: rem(24);
    margin-bottom: rem(32);
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(16) rem(40);
    font-size: rem(16);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: rem(34);
    transition: 0.3s;
    min-height: rem(56);
    position: relative;
    overflow: hidden;
    background-color: var(--10);

    span {
      position: relative;
      z-index: 10;
    }
  }

  @media all and (min-width: $bp3) {
    height: rem(1366);
    max-height: 100%;
    padding: rem(32);
    padding-top: rem(10);

    &__num {
      width: 88%;
      margin-bottom: rem(53);
    }

    &__text {
      width: 61%;
      margin-left: auto;
    }

    &__explain {
      font-size: rem(48);
      line-height: rem(56);
      margin-bottom: rem(32);
    }

    &__desc {
      font-size: rem(24);
      line-height: rem(32);
      margin-bottom: rem(54);
    }
  }

  @media all and (min-width: $bp1) {
    height: 100vh;

    &__text {
      width: 50%;
    }

    &__explain {
      font-size: rem(56);
      line-height: rem(64);
      margin-bottom: rem(24);
    }

    &__desc {
      font-size: rem(24);
      line-height: rem(32);
    }
  }
}
