.AppStoresSecond {
  $s: &;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include headerPadding;

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__item {
    position: absolute;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &_1 {
      width: clamp(490px, 79vmax, 100dvw);
      height: clamp(490px, 79vmax, 100dvw);
      bottom: -14vh;
      left: max(-260px, -60%);
      transform: translate3d(-100%, 0, 0);
    }

    &_2 {
      width: clamp(343px, 40vmax, 100dvw);
      height: clamp(343px, 40vmax, 100dvw);
      bottom: 49vh;
      left: max(-96px, -24%);
      transform: translate3d(-100%, -100%, 0);
    }

    &_3 {
      width: clamp(450px, 68vmax, 100dvw);
      height: clamp(450px, 68vmax, 100dvw);
      bottom: 13vh;
      right: max(-200px, -54%);
      transform: translate3d(100%, 0, 0);
    }
  }

  &__content {
    width: 67vw;
  }

  &__text {
    width: 100%;
    padding: 0 rem(16);

    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }
  &__stores {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(30);
    margin-top: rem(60);
    padding: 0 rem(36);
  }

  &__store {
    height: 100%;
    height: rem(60);
    a,
    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  @media all and (min-width: $bp4) {
    &__text {
      width: 70%;
      margin: 0 auto;
    }

    &__stores {
      height: rem(60);
      flex-direction: row;
      justify-content: center;
      margin-top: clamp(90px, 5.6vw, 200px);
      gap: 2vw;
    }
  }

  @media all and (min-width: $bp3) {
    &__stores {
      height: 5vmax;
      gap: 3vw;
    }
    &__store {
      height: 100%;
      a {
        transition: 0.5s;

        &:hover {
          transition: 0.5s;
          scale: 1.17;
        }
      }
    }
  }

  @media all and (min-width: $bp2) {
    &__item {
      &_1 {
        bottom: -15vh;
        left: -37%;
        transform: translate3d(-100%, 0, 0);
      }

      &_2 {
        bottom: 56vh;
        left: 47%;
        transform: translate3d(0%, -100%, 0);
      }

      &_3 {
        bottom: -36vh;
        right: -38%;
        transform: translate3d(100%, 0, 0);
      }
    }
  }
}
