.Header {
  $s: &;
  position: fixed;
  height: 14vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: transform 0.5s;
  z-index: 100;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  padding-top: env(safe-area-inset-top, 0px);

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: env(safe-area-inset-top, 0px);
    background-color: #fdfdfd !important;
    z-index: 9999;
    pointer-events: none;
    transition: background-color 0.4s;
  }

  &.active {
    z-index: 130;
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: rgba(91, 113, 193, 0.99); /* лёгкая прозрачность */
    backdrop-filter: blur(12px); /* + -webkit-backdrop-filter */

    &::before {
      background-color: #fdfdfd;
    }

    #{$s}__menu {
      background-color: var(--13);
    }

    #{$s}__toggle {
      span {
        top: auto;
        bottom: auto;
        transition: 0.2s;

        &:first-child,
        &:last-child {
          width: rem(28);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:first-child {
          top: 50%;
          right: 0;
          left: auto;
          transform: translateY(-50%) rotate(-45deg);
        }

        &:last-child {
          top: 50%;
          right: 0;
          left: auto;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }

    nav {
      left: rem(-16);
      right: rem(-16);
      height: calc(100vh - 14vh);
      display: block;
      position: absolute;
      top: 14vh;
      background-color: var(--13);

      ul {
        display: flex;
        flex-direction: column;
        gap: 8vh;
        height: 100%;
        padding: rem(80) 0;
      }
    }

    #{$s}__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--light);
      font-size: rem(32);
      line-height: 1;
      letter-spacing: 0.01em;
      text-align: center;

      span {
        margin-bottom: 6px;
      }
    }
  }

  &__menu {
    @include containerMob;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

  &__logo {
    position: absolute;
    width: auto;
    height: 14vh;
    top: 50%;
    left: 0;
    right: auto;
    transform: translate3d(0, -50%, 0);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
      width: auto;
      height: 100%;
      max-height: 100%;
    }

    &:active,
    &:focus-within {
      pointer-events: auto;
    }
  }

  nav {
    display: none;
    position: absolute;

    ul {
      display: flex;
    }
  }

  &__space {
    display: none;
  }

  &__link {
    display: block;
    color: var(--light);
    font-size: 6vh;
    letter-spacing: 0.02em;
    z-index: 1000;
  }

  &__toggle {
    position: relative;
    width: 4vh;
    height: 2vh;
    margin-left: auto;

    span {
      position: absolute;
      transition: 0.2s;
      background-color: var(--white);
      width: 100%;
      height: 0.52vh;
      border-radius: 8px;

      &:first-child {
        top: 0;
        right: 0;
        left: auto;
      }

      &:nth-child(2) {
        top: 50%;
        right: 0;
        left: 0;
      }

      &:last-child {
        top: 100%;
        right: auto;
        left: 0;
      }
    }
  }

  @media all and (min-width: $bp4) {
    height: 9.5vw;

    &__menu {
      @include containerMob;
      padding-top: 2vh;
      padding-bottom: 2vh;
      margin: 0 2vh;
    }

    &__logo {
      position: absolute;
      width: 15vh;
      height: 74%;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &__space {
      display: block;
    }

    nav {
      display: block;
      position: static;
      width: 100%;

      ul {
        display: grid;
        gap: rem(32);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1vw;
        transition: 0.2s;

        &:hover {
          color: #ffffff;
        }

        span {
          margin-bottom: 0.5vh;
        }
      }
    }

    &__toggle {
      display: none;
    }
  }

  @media all and (min-width: $bp3) {
    &__menu {
      margin: 0 18vw;
    }
  }

  @media all and (min-width: $bp2) {
    &__logo {
      a {
        height: 82%;
      }
    }
  }

  @media all and (min-width: $bp1) {
    nav {
      a {
        font-size: 1.5vw;
      }
    }
  }

  @media all and (min-width: $bp0) {
    &__logo {
      a {
        height: 100%;
      }
    }
  }
}
