.Intro {
  $s: &;
  height: 100vh;
  min-height: 640px;
  width: 100vw;
  position: relative;

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  h1 {
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
  }

  &__animals {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  &__animal {
    position: absolute;
    transform-origin: center;
    pointer-events: none;
    opacity: 0;

    &:nth-child(2) {
      z-index: 120;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  @media all and (min-width: $bp4) {
    &__animal {
      &:nth-child(1) {
        z-index: 120;
      }
    }
  }
}
