.Footer {
  background-color: var(--laruel);
  padding: rem(16) rem(16) rem(16) rem(16);
  color: var(--prime-1);
  font-weight: var(--fw-light);
  line-height: rem(24);
  font-family: var(--font-prime);
  font-size: rem(16);
  line-height: 1.5;
  height: 100vh;
  position: relative;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    position: relative;
    z-index: 10;
  }

  &__right {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__left {
    display: none;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: rem(12);
    font-size: rem(46);
    margin: auto 0;

    a {
      color: var(--white);
    }
  }

  &__contacts {
    font-family: var(--font-sec);
    font-weight: 300;
    font-size: 1rem;
    color: #ededed;
    line-height: 1.7;
    margin-top: auto;
  }

  &__laba {
    font-weight: 400;
  }

  &__stars {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    pointer-events: none;
    contain: paint;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 44px;
      height: 44px;
      filter: drop-shadow(0 0 20px #ffbe2d) drop-shadow(0 0 80px #ffbe2d);
      user-select: none;
      pointer-events: none;
      transform-origin: center center; // Для scale анимаций
      will-change: transform, opacity;
    }
  }

  @media all and (min-width: $bp3) {
    &__container {
      gap: 18%;
      align-items: center;
      padding: 0 6vw;
    }

    &__right {
      justify-content: center;
    }

    &__left {
      width: 44%;
      display: block;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &__links {
      margin: 0 0 6.2vh 0;
    }

    a:hover {
      color: #ffe6af;
    }

    &__link a {
      font-size: 4.62vw;
      line-height: 1.2;
      transition: color 0.3s;
    }

    &__contacts {
      font-size: 1vw;
      margin-top: 0;
    }

    &__stars {
      img {
        width: 3.75vw;
        height: 3.75vw;
        filter: drop-shadow(0 0 1.25vw #ffbe2d) drop-shadow(0 0 5vw #ffbe2d);
      }
    }
  }
}
