.News {
  $s: &;
  overflow: hidden;
  height: 100vh;
  position: relative;
  z-index: 25;
  @include headerPadding;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

    div {
      background-color: #c41650;
      border-radius: 100%;
      display: block;
      position: absolute;
      bottom: -15%;

      &:nth-child(1) {
        width: 50vw;
        height: 50vw;
        left: -18%;
      }

      &:nth-child(2) {
        width: 66vw;
        height: 66vw;
        left: 15%;
        bottom: -12%;
      }

      &:nth-child(3) {
        width: 106vw;
        height: 106vw;
        left: 51%;
      }
    }
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__window {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: rem(46) / rem(56);
    background-color: var(--13);
    width: rem(343);
    height: rem(491);
    overflow: hidden;
  }

  &__top {
    position: relative;
    overflow: hidden;
    height: 67%;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: auto;
    height: 36%;
    background-color: var(--7);
  }

  &__logo {
    width: rem(114);
    height: rem(106);
    position: absolute;
    top: rem(24);
    left: rem(24);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__animals {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__animal {
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__animal_cat {
    position: absolute;
    bottom: rem(-94);
    width: rem(342);
    left: rem(-82);
    transform: rotate(-10deg);
  }

  &__animal_dog {
    position: absolute;
    bottom: rem(-132);
    width: rem(346);
    right: rem(-87);
    transform: rotate(9deg);
  }

  &__text {
    padding: rem(12) rem(20);
    background-color: var(--12);
    color: white;
    text-align: center;
    line-height: 1;
    font-size: rem(22);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: var(--white);

    a {
      display: block;
      background-color: var(--10);
      padding: rem(21) rem(40);
      font-size: rem(22);
      line-height: 1;
      position: relative;
      border-radius: 25vw;
      transition: 0.3s;

      &:hover {
        background-color: #c41650;

        div {
          background-color: #c41650;
        }
      }

      span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 20;
      }

      div {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 400px;
        background-color: var(--10);
        width: 100%;
        height: 100%;
        z-index: 10;
        transition: 0.3s;
      }
    }
  }

  &__sheep {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    pointer-events: none;
  }

  &__picture {
    position: absolute;
    bottom: 0;
    right: 0;
    width: rem(322);
    height: rem(333);

    @media (max-height: 700px) {
      width: rem(258);
      height: rem(267);
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      transform: translate(29%, 30%) rotate(-33deg);
    }
  }

  &__ballon {
    position: absolute;
    width: rem(114);
    height: rem(114);
    bottom: 5%;
    left: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    line-height: 1;

    span {
      transform: translateY(15%);
      position: relative;
      z-index: 25;
      color: var(--white);
    }

    &::after {
      position: absolute;
      content: '';
      width: rem(114);
      height: rem(114);
      background-color: var(--12);
      border-radius: 100%;
      z-index: 20;
    }

    &::before {
      position: absolute;
      right: 0;
      top: 50%;
      content: '';
      width: 0;
      height: 0;
      border-top: 0.9375rem solid transparent;
      border-left: 2.3125rem solid var(--12);
      border-bottom: 0.9375rem solid transparent;
      z-index: 20;
      transform: translate(80%, -24%);
    }
  }

  &__background {
    position: absolute;
  }

  @media all and (min-width: $bp4) {
    &__container {
      flex-direction: row;
      justify-content: center;
      gap: 4vw;
    }

    &__sheep {
      position: relative;
      height: auto;
      width: 48vw;
    }

    &__picture {
      position: relative;
      bottom: 0;
      right: 0;
      transform: none;
      width: 100%;
      height: auto;

      img {
        margin-top: auto;
        position: relative;
        z-index: 15;
        transform: none;
      }

      &::before {
        position: absolute;
        z-index: 10;
        width: 115%;
        aspect-ratio: 258 / 50;
        content: '';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 36.5%);
        filter: blur(30px);
        border-radius: 50%;
      }
    }

    &__ballon {
      position: absolute;
      width: rem(114);
      height: rem(114);
      bottom: 5%;
      left: 7%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1rem;
      line-height: 1;
      z-index: 20;
    }
  }

  @media all and (min-width: $bp3) {
    &__container {
      transform: translateY(-5%);
    }

    &__window {
      width: 31.5vw;
      height: auto;
      aspect-ratio: 505 / 723;
      border-radius: 5vw/6vw;
    }

    &__logo {
      top: 7%;
      left: 7%;
    }

    &__animal_cat {
      bottom: -30%;
      width: 100%;
      left: -23%;
    }

    &__animal_dog {
      bottom: -41%;
      width: 99%;
      right: -25%;
    }

    &__ballon {
      width: 18.25vw;
      height: 18.25vw;
      bottom: 29%;
      left: 70%;
      font-size: 2.5vw;

      &::after {
        width: 18.25vw;
        height: 18.25vw;
      }

      &::before {
        right: auto;
        left: 0;
        top: 50%;
        border-top: 2vw solid transparent;
        border-right: 5vw solid var(--12);
        border-bottom: 2vw solid transparent;
        border-left: 0 solid transparent;
        transform: translate(-90%, -24%);
      }
    }

    &__logo {
      width: 10.4vw;
      height: 9.8vw;
    }

    &__text {
      padding: 1.06vw;
      font-size: 2vw;
      text-shadow: 0px 6.11px 20.93px rgba(0, 0, 0, 0.6);
    }

    &__button a {
      padding: 2vw 3.5vw;
      font-size: 2vw;
      text-shadow: 0px 6.11px 20.93px rgba(0, 0, 0, 0.6);
      color: var(--white);
    }

    &__background {
      div {
        background-color: #c41650;
        border-radius: 100%;
        display: block;
        pointer-events: none;
        mix-blend-mode: lighten;

        &:nth-child(1) {
          width: 30.375vw;
          height: 30.375vw;
          left: 7%;
          bottom: -30%;
        }

        &:nth-child(2) {
          width: 39.8125vw;
          height: 39.8125vw;
          left: 24%;
          bottom: -16%;
        }

        &:nth-child(3) {
          width: 63.4375vw;
          height: 63.4375vw;
          left: 51%;
          bottom: -32%;
        }
      }
    }
  }
}
