/* Сброс стилей */

html *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style-type: none;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button,
select {
  text-transform: none;
}

/* Убираем стандартный фокус на сенсорных экранах */
@media (pointer: coarse) {
  button:focus,
  a:focus {
    outline: none;
    box-shadow: none;
  }
}
