// Функция перерасчета px в rem
@use 'sass:math';

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.';
  }
}

@function adapt($min, $current) {
  $max: $current * 1.375;
  $vw: math.div($current, 1600) * 100;
  @return clamp(#{rem($min)}, #{$vw}vw, #{rem($max)});
}

/* Breakpoints */
$bp: 1920px;
$bp0: 1600px;
$bp1: 1440px;
$bp2: 1280px;
$bp3: 1024px;
$bp4: 768px;
$bp5: 576px;
$bp6: 377px;

@mixin containerMob {
  padding-right: rem(16);
  padding-left: rem(16);
}

@mixin containerDesk {
  padding-right: rem(32);
  padding-left: rem(32);
}

@mixin headerPadding {
  padding-top: 14vh;

  @media all and (min-width: $bp4) {
    padding-top: 9.5vw;
  }
}
